.rating-block {
  background-image: url(../../assets/img/rating.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;

  .rating {
    height: 512px;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

		.rating-block__one {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 880px;
			margin-left: 100px;
			padding-top: 35px;
			padding-left: 10px;

			h1 {
				font-family: Montserrat;
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 29px;
				color: #000000;
			}

			p {
				font-family: Montserrat;
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 12px;

        color: #003789;
      }
    }
    .rating-block-main {
      width: 768px;
      border-color: #929292;
      margin-left: 55px;
      padding-bottom: 10px;

      .rating-block__two {
        display: flex;
        justify-content: space-between;
        width: 700px;
        margin-right: 0px;
        padding-top: 30px;
        margin-left: 260px;
        padding-bottom: 10px;

        .rating-block__two__title1 {
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 12px;
          color: #929292;
          width: 200px;
          img {
            width: 16px;
            height: 16px;
            margin-right: 10px;
          }
        }
      }
    }

    .rating__rating-block {
      display: grid;
      grid-template-columns: 2.2fr 1fr 1fr 1fr 1.5fr;
      width: 1000px;
      height: 50px;
      margin: 0;
      align-items: center;
      margin-right: 0;
      margin-top: 20px;
      background: rgba(243, 195, 92, 0.2);
      border: 1px solid #eaeaea;
      box-sizing: border-box;
    }
  }
}


