.parent__modal {
	position: absolute;
	z-index: 9;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	// background-color: rgba(0, 0, 0, 0.2);
	color:black;
}
.modal {
	width: 600px;
	height: 350px;
	position: absolute;
	z-index: 10;
	left: 50%;
	top: 50%;
	background: white;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transform: translate(-50%, -50%);

	&__title {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 45px;
		color:black;
        padding-bottom: 20px;
	}
	&__button {
		margin-top: 30px;
		width: 200px;
		height: 40px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #ffffff;
		background: #ff9000;
		border: none;
		cursor: pointer;
	}
}
