.testin-block {
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
	width: 100%;
	background: #fafafa;
	padding-top: 100px;
	background-size: contain;
	background-image: url(../../assets/img/new1.png);

	.testing__main {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 80px;
	}

	.testing-block__body {
		width: 770px;
		height: 380px;
		left: 191px;
		top: 180px;
		background: rgba(255, 255, 255, 0.5);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(3px);
		-webkit-backdrop-filter: blur(3px);
		padding: 30px;
		font-size: x-large;
		word-spacing: 3px;
	}
	.testing-block__area {
		position: absolute;
		font-size: x-large;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
	}
	.countDown {
		position: absolute;
		left: 50%;
		bottom: 8%;
		font-size: 22px;
	}
	.refresh-block {
		position: relative;
		top: 120px;
		left: 673px;
	}
}
