.home {
	background: #fafafa;
	background-image: url(../../assets//img/home-new.png);
	background-size: cover;
	height: 100vh;
	width: 100%;
		// overflow: hidden;

	&__main-block {
		display: flex;
		flex-direction: column;
	}
	h1 {
		padding-top: 50px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 72px;
		line-height: 88px;
		letter-spacing: -0.08em;
		color: #000000;
	}
	&__description {
		margin-top: 30px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		color: #000000;
	}

	&__speed {
		margin-top: 30px;
		color: #bababa;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
	}
	&__test-block {
		margin-top: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #ffff;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
		width: 397px;
		height: 59px;
		padding: 0 20px 0 20px;
	}

	&__btn-start {
		background: #ff9000;
		width: 110px;
		height: 35px;
		cursor: pointer;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		color: #ffffff;
		border: none;
		&:hover {
			box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
		}
	}
}
