.block__first {
  display: flex;
  align-items: center;
  background-image: url(../../img/img.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
 


   .block__container{
     width: 1200px;
     margin: 0 auto;


     .block__img1 {
      width: 200px;
      height: 200px;
      margin-left: 200px;
    }

    .block__img2 {
      margin-left: 50px;
      width: 90px;
      height: 90px;
    }

    .block__button {
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(6px);
      -webkit-backdrop-filter: blur(6px);
      border: 1px solid rgba(255, 255, 255, 0.18);
      width: 322px;
      height: 78px;
      position:absolute;
      left:300px;
      // top:-100px
      top: 50%;
      // left: 50%;
      
     
    }
    .block__button:hover {
      border: 1px solid #4285f4;
      box-shadow: 0 10px 30px rgb(0 0 0 / 30%);
      transition: 0.5s ease-in-out;
    }

    .google {
      width: 48px;
      height: 48px;
      margin-top: 13px;
      padding-left: 30px;
    }

   }
    

   
  }

