.block__first {
  // display: flex;
  background-image: url(../../assets/img/back.png);
  background-repeat: repeat-y;
  background-size: cover;
  height: 95vh;
  display: flex;
  align-items: center;

     .block__img1 {
      width: 200px;
      height: 200px;
      margin-left: 200px;
    }

    .block__img2 {
      margin-left: 50px;
      width: 90px;
      height: 90px;
    }

    .block__button {
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(6px);
      -webkit-backdrop-filter: blur(6px);
      border: 1px solid rgba(255, 255, 255, 0.18);
      width: 280px;
      height: 70px;
      display:flex;
      align-items: center;
      padding-left: 38px;
      margin-left: 400px;

     
     
      
     
    }
    .block__button:hover {
      border: 1px solid #4285f4;
      box-shadow: 0 10px 30px rgb(0 0 0 / 30%);
      transition: 0.5s ease-in-out;
    }

    .google {
      width: 40px;
      height: 40px;
      // margin-top: 13px;
      // padding-left: 30px;
    }

   }
    

   
  

