.parent__modal {
	position: absolute;
	z-index: 9;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
}
.modal {
	width: 600px;
	height: 350px;
	position: absolute;
	z-index: 10;
	left: 50%;
	top: 50%;
	background: rgba(255, 255, 255, 0.15);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(2px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transform: translate(-50%, -50%);

	&__title {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 36px;
		line-height: 44px;
		color: #000000;
	}
	&__btn {
		margin-top: 30px;
		padding: 15px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500px;
		font-size: 18px;
		line-height: 22px;
		color: #ffffff;
		background: #ff9000;
		border: none;
		cursor: pointer;
	}
}
