.header {
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #ffffff;
	
	
	// width: 100%;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		font-family: Comfortaa;
		font-style: normal;
		font-weight: bold;
		font-size: 36.4286px;
		line-height: 41px;
		color: #000000;
		text-decoration: none;
		border: none;
	}
	.link {
		text-decoration: none;
	}

	nav {
		width: 391px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}
	nav a {
		text-decoration: none;
		font-family: Comfortaa;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		color: #000000;
	}
	&__btn-login {
		background: #ff9000;
		// filter: blur(22px);
		width: 140px;
		height: 25px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		color: #ffffff;
		border: none;
	}

	&__modal {
		width: 600px;
		height: 350px;
	}
	.header__block__profile {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.header__block__profile__uName {
		position: relative;
		font-family: Comfortaa;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		color: #ffffff;
		cursor: pointer;
		.header__select {
			position: absolute;
			left: 0;
			top: 0;
			border: none;
			background-color: inherit;
			opacity: 0;
			color: #ffffff;
			cursor: pointer;
			outline: none;
		}
		.header__select option {
			color: black;
		}
	}
	img {
		width: 30px;
		margin-right: 5px;
		border-radius: 50%;
		cursor: pointer;
	}
}
